:host {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 70%;
    margin-top: 30px;
}

.user-form-list-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-form-list-item-content {
    margin-left: 10vw;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.user-form-list-item-content mat-form-field{
    width: 12vw;
}
.user-form-list-item-submit {
    margin-left: 10vw;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.user-form-list-item-submit button, .user-form-list-item-content button{
    width: 12vw;
}
