:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card {
  max-width: 350px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card-title {
  text-align: center;
}
mat-card-content {
  display: flex;
  justify-content: center;
}
::ng-deep .mat-card-header-text {

  margin: 0 !important;
}
mat-card-header {
 display: flex;
 justify-content: center;
}
mat-card-header img {
  width: 40%;
  height: 40%;
  margin: 20px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1),
  0 1px 1px 0 rgba(0,0,0,1),
  0 1px 3px 0 rgba(0,0,0,1);
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #bbfab5 inset !important;
}

.error-msg {
  margin-bottom: 20px;
  text-align: center;
  color: red;
  font-size: 20px;
}
