<div class="add-button" *ngIf="displayedColumns[0]">
    <button mat-flat-button color="primary" class="add-dict-button"
            (click)="addNewDict()" [disabled]="isAddButtonDisabled$">Dodaj element
    </button>
</div>
<div class="dict-table">
    <table mat-table matSort [dataSource]="this.dataSource">
        <ng-container *ngIf="displayedColumns[0]" [matColumnDef]="displayedColumns[0]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <b>{{displayedColumns[0]}}</b>
            </th>
            <td mat-cell *matCellDef="let dict">{{dict.attrib01}}</td>
        </ng-container>

        <ng-container *ngIf="displayedColumns[1]" [matColumnDef]="displayedColumns[1]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <b>{{displayedColumns[1]}}</b>
            </th>
            <td mat-cell *matCellDef="let dict">{{dict.attrib02}}</td>
        </ng-container>

        <ng-container *ngIf="displayedColumns[2]" [matColumnDef]="displayedColumns[2]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <b>{{displayedColumns[2]}}</b>
            </th>
            <td mat-cell *matCellDef="let dict">{{dict.attrib03}}</td>
        </ng-container>

        <ng-container *ngIf="displayedColumns[3]" [matColumnDef]="displayedColumns[3]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <b>{{displayedColumns[3]}}</b>
            </th>
            <td mat-cell *matCellDef="let dict">{{dict.attrib04}}</td>
        </ng-container>

        <ng-container *ngIf="displayedColumns[4]" [matColumnDef]="displayedColumns[4]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <b>{{displayedColumns[4]}}</b>
            </th>
            <td mat-cell *matCellDef="let dict">{{dict.attrib05}}</td>
        </ng-container>

        <ng-container *ngIf="displayedColumns[5]" [matColumnDef]="displayedColumns[5]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <b>{{displayedColumns[5]}}</b>
            </th>
            <td mat-cell *matCellDef="let dict">{{dict.attrib06}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; index as i; columns: this.displayedColumns;" (dblclick)="editDict(row)"></tr>
    </table>
</div>
<mat-paginator [pageSizeOptions]="pageSizeOptions"
               [pageSize]="pageSize$ | async"
               [pageIndex]="pageIndex$ | async"
               [length]="listTotalLength$ | async"
               (page)="pageChanged($event)"
               showFirstLastButtons>
</mat-paginator>
