<h1 mat-dialog-title>
    {{title}}
</h1>

<div mat-dialog-content [formGroup]="passwordFormGroup">
    <mat-form-field>
        <mat-label>wpisz stare hasło</mat-label>
        <input matInput type="password" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>wpisz nowe hasło</mat-label>
        <input matInput type="password" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>powtórz nowe hasło</mat-label>
        <input matInput type="password" formControlName="newPasswordRepeated">
    </mat-form-field>
    <mat-error *ngIf="passwordFormGroup.errors?.newPasswordIncorrectlyRepeated">
        Hasła się różnią
    </mat-error>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onDismiss()">Anuluj</button>
    <button mat-raised-button color="primary" (click)="onConfirm()"
            [disabled]="passwordFormGroup.errors?.newPasswordIncorrectlyRepeated"
            matTooltip="po zapisaniu nastąpi wylogowanie">
        Zapisz
    </button>
</div>
